@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brandon-light';
  src: url('/fonts/BrandonGrotesque-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon-regular';
  src: url('/fonts/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon-medium';
  src: url('/fonts/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon-bold';
  src: url('/fonts/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon-black';
  src: url('/fonts/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.bg-gradient {
  background: linear-gradient(90deg, #bc1e33 2.34%, #c98026 100.78%);
}

.rotate-logo{
  transform: rotateY(180deg);
}

.bg-banner{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flex-center{
  @apply flex justify-center items-center
}

.btn-white{
  @apply border border-white rounded-full px-14 py-3 hover:bg-white hover:text-fofalText transition-all ease-in-out duration-300
}

.input-form{
  @apply block w-full px-3 py-2 pl-10  border border-zinc-300 rounded-[4px] sm:text-sm placeholder:text-zinc-300
}